# Qt coding style: https://wiki.qt.io/Qt_Coding_Style
Language: Cpp
AlignAfterOpenBracket: Align
BasedOnStyle: WebKit
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterControlStatement: Never
  AfterCaseLabel: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: Never
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
Standard: c++20
